<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WipPlanMP.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WipPlanMP.My.MySettings.DBxConnectionString" connectionString="Data Source=172.16.0.102;Initial Catalog=DBx;User ID=dbxuser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <WipPlanMP.My.MySettings>
            <setting name="Master" serializeAs="String">
                <value>False</value>
            </setting>
        </WipPlanMP.My.MySettings>
    </userSettings>
</configuration>
